<h1 class="th">{{thai}}</h1>
<p>
<div class="aua">/{{aua}}/</div>

<h2>Translation</h2>
{{english}}

<div id="examples-section">
    <h2 id="examples-header">Examples</h2>
    <div id="examples-list">{{examples}}</div>
</div>

<script>
    // Only show examples if the list has items
    section = document.getElementById("examples-section");
    list = document.getElementById("examples-list");
    if (!list.firstChild) {
        section.style.display = "none";
    }
</script>
