.card {
    font-family: arial, serif;
    font-size: 20px;
    color: black;
    background-color: white;
}

.th {
    font-family: "Sarabun", "Noto Serif Thai", serif
}

h1 {
    font-size: 55px;
    margin-bottom: -20px;
}

h1.front {
    font-size: 80px;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
}

ul {
    padding: 0 0 0 30px;
    margin: 0
}

li {
    height: 30px
}

li span.li-k {
    font-weight: 500
}

img {
    width: 60%;
}

.aua {
    color: #222222;
    font-weight: 500;
    margin-bottom: 40px;
}

/*
Do not show list style for single-item lists.
 */
ul {
    padding-left: 0;
}

li {
    margin-left: 40px;
}

li:only-child {
    list-style-type: none;
    margin-left: 0;
}
